a:link, a:visited {
  color: #33f;
  text-decoration: none;
}

header {
  /*border: 1px solid #000;*/
  background: #aad;
  margin: 0px;
  padding: 0px;
}

header div {
  /*padding: 40px 80px;*/
  padding: 40px 5%;
}

h1 {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: verdana;
  background-color: #dfdfff;
}

nav {
  display: block;
  margin: 4px;
  padding: 0px 5%;
  overflow: hidden;
  width: 80%;
  /*text-align: center;*/
}

nav ul {
  margin: 0px;
  padding: 0px;
}

nav ul li {
  display: inline-block;
  list-style-type: none;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

#content {
  padding: 40px 5%;
  /*border: 1px solid #000;*/
}

#calendar {
  position: relative;
  display: inline-block;
  width: 60%;
}

#calendar-table {
  position: relative;
  width: 100%;
  /*border-collapse: collapse;*/
  border-spacing: 4px;
}

#calendar-table td, #calendar-table th {
  /*border: 1px solid #000;*/
  text-align: center;
  height: 240px;
  width: 10%;
}

#calendar-table td {
  background-color: #fff;
  border-radius: 7px;
}

#calendar-table tr:first-child th {
  border: none;
  height: 1em;
}

#calendar-table tr:last-child td {
  font-size: 14px;
  background: transparent;
  border: none;
  height: 1em;
}

#tarefas {
  position: relative;
  display: inline-block;
  vertical-align: top;
  left: 120px;
  width: 30%;
}

#tarefas-head {
  height: 29px;
  width: 100%;
}

.styled
{
  position: relative;
  display: inline-block;
  height: 29px;
}

.styled select
{
  background: white;
  border: none;
  font-size: 14px;
  height: 29px;
  width: 120px;
  padding: 5px;
  border-radius: 8px;
}

.styled input
{
  background: white;
  border: none;
  height: 29px;
  width: 380px;

  border-radius: 8px;
  text-indent: 8px;
  box-sizing: border-box;
}

.styled button
{
  background: white;
  /*border: none;*/
  font-size: 14px;
  height: 29px;
  width: 150px;
  padding: 5px;
  border-radius: 8px;
}

.table
{
  border-collapse: collapse;
  width: 100%;
  margin-top: 16px;
}

.table td, .table th {
  border: 1px solid #ccc;
  text-align: center;
  height: 24px;
  padding: 4px;
  font-size: 12px;
  font-weight: normal;
  border-top: none;
  border-bottom: none;
}

.table td {
  background-color: #fff;
}

.table tr:nth-child(even) td {
  background-color: #ccf;
}

.table tr:first-child th {
  border: none;
  height: 1em;
}

.table tr td:first-child {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  border-left: none;
}

.table tr td:last-child {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-right: none;
}

#clientes {
  margin: auto;
  width: 70%;
}

#page {
  padding-left: 16px;
}

#clientes-lista {
  padding-top: 24px;
}

.full-width {
  width: 100%;
}

.urgente {
  font-weight: bold;
  color: red;
}

.normal {
  font-weight: bold;
  color: green;
}

.tag {
  display: inline-block;
  height: 16px;
  width: 16px;
  border-radius: 4px;
}

.green { background-color: green; }
.red   { background-color: red;   }
.blue  { background-color: blue;  }

/* Arrows for caret */

.arrow-top,
.arrow-down,
.arrow-left,
.arrow-right {
  /*
   * In Internet Explorer, The"border-style: dashed" will never be
   * rendered unless "(width * 5) >= border-width" is true.
   * Since "width" is set to "0", the "dashed-border" remains
   * invisible to the user, which renders the border just like how
   * "border-color: transparent" renders.
   */
  border-style: dashed;
  border-color: transparent;
  border-width: 0.53em;
  display: -moz-inline-box;
  display: inline-block;
  /* Use font-size to control the size of the arrow. */
  font-size: 15px;
  height: 0;
  line-height: 0;
  position: relative;
  vertical-align: middle;
  width: 0;
}

.arrow-top {
  border-bottom-width: 1em;
  border-bottom-style: solid;
  border-bottom-color: #666;
  bottom: 0.25em;
}

.arrow-right {
  border-left-width: 1em;
  border-left-style: solid;
  border-left-color: #666;
  left: 0.25em;
}

.arrow-down {
  border-top-width: 1em;
  border-top-style: solid;
  border-top-color: #666;
  top: 0.25em;
}

.arrow-left {
  border-right-width: 1em;
  border-right-style: solid;
  border-right-color: #666;
  right: 0.25em;
}

.small {
  font-size: 8px;
}


/* Mouse over link show tooltip */

a.tooltip {outline:none;}
a.tooltip strong {line-height:30px;}
a.tooltip:hover {text-decoration:none;}
a.tooltip span {
  z-index:10;
  display:none; padding:14px 20px;
  margin-top:30px; margin-left:-160px;
  width:300px; line-height:16px;
}
a.tooltip:hover span{
  display:inline;
  position:absolute;
  /*border:2px solid #FFF;*/
  color:#fff;
  font-size: 12px;
  background: #fff;
}

a.tooltip:hover span.green { background: green; }
a.tooltip:hover span.red   { background: red;   }
a.tooltip:hover span.blue  { background: blue;  }

/*.callout {z-index:20;position:absolute;border:0;top:-14px;left:120px;}*/

/*CSS3 extras*/
a.tooltip span
{
  border-radius: 12px;
  box-shadow: 1px 1px 2px 2px #666;
}
